---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import Projekter from'../components/Projekter.astro';
import { Image } from 'astro:assets';
import forsideimg from "./public/forside-img.svg";
---
<MainLayout title="Forside">
	<article class="sektion1 mt-14 lg:flex lg:px-[40px] lg:justify-between lg:items-center">
		<div class="text-center py-10 uppercase text-[#625821] lg:order-1 lg:pb-[180px]">
			<h1 class="text-6xl lg:text-[158px]">Portfolio</h1>
			<h2 class="text-md pt-2 lg:text-3xl">Digitalt design og konceptudvikling</h2>
			<h2 class="text-[14px] text-[#ccad66] lg:text-[20px]">Laura Nyberg Amelung</h2>
		</div>

		<div>
			<Image src={forsideimg} alt="3 blomster på stilk" class="w-[450px] lg:w-[369px] lg:h-[724px]"></Image>
		</div>	
	</article>

	<article id="sektion2">
		<div class="lg:grid lg:grid-cols-2 lg:mx-10">

			<div>
				<h3 class="pt-20 pb-4 text-3xl text-[#434343]">Jeg er Laura Amelung</h3>

				<div class="py-4 text-[16px] text-[#5D5C5B] lg:text-[18px]">
					<p class="pb-8">Jeg kombinerer min baggrund som multimediedesigner med studiet i digital konceptudvikling på KEA, hvor jeg nørder alt fra designprocesser og prototyping til konceptudvikling og brugeroplevelser.</p>

					<p class="pb-8">Mit formsprog er nordisk og minimalistisk, men jeg elsker at udfordre det enkle med farver, former og finurligheder, når det giver mening. Jeg tror på, at det bedste design ikke kun skal se godt ud, det skal også føles rigtigt.</p>

					<p class="pb-8">Jeg har været en del af DR Lab, hvor jeg udviklede digitale koncepter sammen med andre unge talenter. </p>

					<p class="pb-8">Før det dykkede jeg ned i fortællinger og visuel dramaturgi på den internationale filmhøjskole European Film College, erfaringer, der stadig præger mit blik og min tilgang.</p>

					<p>Jeg trives i kreative teams med forskellige fagligheder og én fælles mission: at skabe noget, der gør en forskel for dem, vi designer til.</p>
				</div>
			</div>
		

			<div class="pt-10 lg:pt-32 lg:mx-40"> <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> <dotlottie-player src="https://lottie.host/4b13c983-0041-44e3-a6d3-2f2c5776d753/DqybsgxtD7.json" background="transparent" speed="1" class="w-[300px] h-[300px] lg:w-[450px] lg:h-[450px]" loop autoplay></dotlottie-player> </div>
		</div>
	</article>

	<article id="sektion3">
		<h3 class="pt-20 pb-4 text-3xl text-[#434343] lg:mx-10">Mine projekter</h3>
		<div class="lg:grid lg:grid-cols-2 lg:gap-20 lg:mx-10">
		<Projekter></Projekter>
		</div>
	</article>
</MainLayout>