---
import MainLayout from "../layouts/MainLayout.astro";
import Projekter from'../components/Projekter.astro';
import { Image } from 'astro:assets';
import forsideimg from "/public/forside-img.svg";
---
<MainLayout title="Forside">
	<article class="sektion1 mt-14 lg:flex lg:px-[40px] lg:justify-between lg:items-center">
		<div class="text-center py-10 uppercase text-[#625821] lg:order-1 lg:pb-[180px]">
			<h1 class="text-6xl lg:text-[158px]">Portfolio</h1>
			<h2 class="text-md pt-2 lg:text-3xl">Digitalt design og konceptudvikling</h2>
			<h2 class="text-[14px] text-[#ccad66] lg:text-[20px]">Laura Nyberg Amelung</h2>
		</div>

		<div>
			<Image src={forsideimg} alt="3 blomster på stilk" class="w-[450px] lg:w-[369px] lg:h-[724px]"></Image>
		</div>	
	</article>

	<article id="sektion3">
		<h3 class="pt-20 pb-4 text-3xl text-[#434343] lg:mx-10">Mine projekter</h3>
		<div class="lg:grid lg:grid-cols-2 lg:gap-20 lg:mx-10 zoomIn">
		<Projekter></Projekter>
		</div>
	</article>
</MainLayout>

<script>
	import {inView} from "motion";
	const zoomIn = document.querySelector(".zoomIn");

	inView(zoomIn, () => {
		zoomIn.classList.add("animate__animated", "animate__zoomIn", "animate__slower", "animation-duration-2s");
	})
</script>