---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from 'astro:assets';
import linkedin from '/public/linkedin.svg';
---

<MainLayout title="Kontakt">
    <article id="sektion2" class="pb-54 lg:mx-10 pt-8">
            <div class="">
                <h3 class="pt-20 pb-0 lg:pb-4 text-4xl lg:text-6xl text-[#434343] uppercase lg:pt-0">Kontakt mig her</h3>
    
                <div class="py-4 text-[18px] text-[#5D5C5B] lg:text-[24px] underline">
                    <p><a href="mailto:laura@melung.dk">Laura@melung.dk</a></p>
                </div>
            </div>
    </article>

</MainLayout>