---
import { Image } from 'astro:assets';
import home from './public/home.svg'
---

<div x-data="{ showmenu: false }" class="">
    <div id="navbar" class="">
      <nav id="desktopmenu" class="hidden lg:block fixed bg-[#f3f0eaec] w-full px-26 z-40">
        <ul class="flex flex-row justify-between text-[18px]">
            <li>
            <a href="/"> <Image src={home} alt="home-button" class=""></Image></a>
          </li>
          <div class="flex gap-[100px] py-[56px]">
          <li
            class="text-[#625821] hover:underline decoration-solid"
          >
            <a href="/#sektion2">Hvem er jeg?</a>
          </li>
          <li
            class="text-[#625821] hover:underline decoration-solid"
          >
            <a href="/#sektion3">Mine projekter</a>
          </li>
          <li
            class="text-[#625821] hover:underline decoration-solid"
          >
            <a href="#sektion4">Kontakt</a>
          </li>
        </div>
        </ul>
      </nav>

      <div class="flex justify-end">
      <button
        id="burgermenu"
        class="lg:hidden pt-10 text-[#625821] font-semibold uppercase fixed  bg-[#F3F0EA] py-4 w-full flex justify-end z-40"
        x-on:click="showmenu = ! showmenu">Menu</button
      >
    </div>
    </div>
    <nav
      id="mobilmenu"
      class="flex flex-col pt-20 bg-[#F3F0EA] fixed w-full pr-14 z-30"
      x-show="showmenu"
      x-transition
      x-on:click="showmenu = false"
      x-on:click.outside="showmenu = false"
    >
      <ul class="">
        <li class="w-22 ml-28 mb-4">
          <a href="/"> <Image src={home} alt="home-button"></Image></a>
        </li>

        <li
          class="text-[#625821] text-center py-4 hover:underline decoration-solid"
        >
          <a href="/#sektion2">Hvem er jeg?</a>
        </li>
        <li
          class="text-[#625821] text-center py-4 hover:underline decoration-solid"
        >
          <a href="/#sektion3">Mine projekter</a>
        </li>
        <li
          class="text-[#625821] text-center py-4 hover:underline decoration-solid"
        >
          <a href="#sektion4">Kontakt</a>
        </li>
     
         
      </ul>
    </nav>
  </div>
